body {
	font-family: 'Open Sans', sans-serif;
	color: #111;
	background: url(../../assets/images/home.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.separator {
	height: 100px;
}

.panels {
	background: rgba(255,255,255,0.9);
}

.logo img{
	width: 100%;
}

.content {
	padding: 20px 30px;
}

.content ul, li{
	line-height: 28px;
}
.borderless td {
    border: none;
}

.borderless tr {
	border: none;
}

.borderless table {
	border: none;
}

.footer{
	color: #efefef;
}